/*CSS para header */
header {
    width: auto;
    position: relative;
    margin: 0 auto;
    padding: 20px 20px;
}

/*CSS para  body */
.principal{
    font-size: 20px;
    font-weight:bold;
    position: relative;
    padding: 10px 10px;
    text-align: center;
}
body {
    background-color: #ced4dd;
    display: grid;
}

.texto{
    width: 270px; 
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    padding: 12px 18px;
    background: linear-gradient(3deg, gold 10%, red, black);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
    
}

.texto:hover{
    opacity: 0.8;
    transition: 400ms;
    box-shadow: 10px 10px 30px 15px gold, inset -5px -5px 20px 19px gold;
}
P{
    width: 290px; 
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}

/* botones*/
.botones{
    width: 280px; 
    margin-left: auto;
    margin-right: auto;
}

.encriptar{
    width: 65px;
    padding: 8px  8px;
    margin-right: 18px;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    background: #c78c19;
    border-radius: 10px;
    transition: 1s all;
}

.encriptar:hover {
    background: darkorange;
    cursor: pointer;
    transform: scale(1.2) rotate(01deg);
}
.encriptar:active{
    color:#3ac04a;
}

.desencriptar{
    width: 85px;
    padding: 8px 8px;
    margin: 18px 18px 18px 0;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    background: green;
    border-radius: 10px;
    transition: 1s all;
}

.desencriptar:hover {
    background: darkgreen;
    cursor: pointer;
    transform: scale(1.2) rotate(01deg);
}
.desencriptar:active{
    color: #FFFFFF;
}
.copiar{
    width: 50px;
    padding: 8px 8px;
    background: aqua;
    font-size: 11px;
    font-weight: bold;
    border-radius: 10px;
    transition: 1s all;
}
.copiar:hover {
    background: blue;
    cursor: pointer;
    transform: scale(1.2) rotate(01deg);
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 15px 15px;
}

